### Based on: https://medium.com/@sachanirenuka/food-inspection-data-cleansing-fc26bac3e885

In [11]:
import csv
import pandas as pd
from collections import Counter
import requests

In [18]:
# Downloaded the csv data file from https://data.cityofchicago.org/Health-Human-Services/Food-Inspections/4ijn-s7e5 
# Read the csv file and stored in a list variable 
food = list(csv.DictReader(open('Food_Inspections.csv')))

In [19]:
food[0]

{'Inspection ID': '2522989',
 'DBA Name': 'IPSENTO',
 'AKA Name': 'IPSENTO',
 'License #': '1741994',
 'Facility Type': 'Restaurant',
 'Risk': 'Risk 2 (Medium)',
 'Address': '2035 N WESTERN AVE ',
 'City': 'CHICAGO',
 'State': 'IL',
 'Zip': '60647',
 'Inspection Date': '07/21/2021',
 'Inspection Type': 'Canvass',
 'Results': 'Out of Business',
 'Violations': '',
 'Latitude': '41.918574636596254',
 'Longitude': '-87.68729592769105',
 'Location': '(-87.68729592769105, 41.918574636596254)'}

### Problem 1: Uppercase

In [22]:
for row in food:
    row['DBA Name'] = row['DBA Name'].upper()
    row['AKA Name'] = row['AKA Name'].upper()
    row['Facility Type'] = row['Facility Type'].upper()
    row['Risk'] = row['Risk'].upper()
    row['Address'] = row['Address'].upper()
    row['City'] = row['City'].upper()
    row['State'] = row['State'].upper()
    row['Zip'] = row['Zip'].upper()
    row['Inspection Type'] = row['Inspection Type'].upper()
    row['Results'] = row['Results'].upper()
    row['Violations'] = row['Violations'].upper()

In [23]:
food[0]

{'Inspection ID': '2522989',
 'DBA Name': 'IPSENTO',
 'AKA Name': 'IPSENTO',
 'License #': '1741994',
 'Facility Type': 'RESTAURANT',
 'Risk': 'RISK 2 (MEDIUM)',
 'Address': '2035 N WESTERN AVE ',
 'City': 'CHICAGO',
 'State': 'IL',
 'Zip': '60647',
 'Inspection Date': '07/21/2021',
 'Inspection Type': 'CANVASS',
 'Results': 'OUT OF BUSINESS',
 'Violations': '',
 'Latitude': '41.918574636596254',
 'Longitude': '-87.68729592769105',
 'Location': '(-87.68729592769105, 41.918574636596254)'}

### Problem 2: Null value handling and justification

In [24]:
#checking the null count in the column 'AKA name'
Counter([row['AKA Name'] for row in food if row['AKA Name'] == ''])

Counter({'': 2474})

In [25]:
# Replace null values for AKA Names in the 2474 rows with their DBA Names
for row in food:
    if row['AKA Name'] == '':
        row['AKA Name'] = row['DBA Name']

In [26]:
#Recheck the null count in the AKA Name column
Counter([row['AKA Name'] for row in food if row['AKA Name'] == ''])

Counter()

### Problem 3: Incorrect spelling, unwanted paranthesis, backslash and single inverted quote

In [28]:
# Checking cities which which start with CHI
Counter([row['City'] for row in food if row['City'].startswith('CHI')])

Counter({'CHICAGO': 224345,
         'CHICAGOO': 3,
         'CHICAGO.': 3,
         'CHICAGOHICAGO': 4,
         'CHICAGOC': 2,
         'CHICAGOCHICAGO': 10,
         'CHICAGOBEDFORD PARK': 1,
         'CHICAGOI': 3,
         'CHICAGO HEIGHTS': 2})

In [34]:
# Replace with the right spelling of the city 'CHICAGO'
for row in food:
    if row['City'].endswith('CAGO') or row['City'].endswith('AGOO') or row['City'].endswith('AGOI') or row['City'].endswith('AGOC') or row['City'] == 'CHICAGOBEDFORD PARK' or row['City'] == 'CHICAGO HEIGHTS':
        row['City'] = 'CHICAGO'

In [35]:
Counter([row['City'] for row in food if row['City'].startswith('CHI')])

Counter({'CHICAGO': 224434, 'CHICAGO.': 3})

In [41]:
#How to use split function to organise data
# Checking 'Violations' column as an example
food[67]['Violations']

''